<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218471163586-6itg8navntbh0catrtohdh22efldhiuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218471163586-6itg8navntbh0catrtohdh22efldhiuh</string>
	<key>API_KEY</key>
	<string>AIzaSyAXLkYGm6s_kXNLir0wbeuPua2UkrUzfPw</string>
	<key>GCM_SENDER_ID</key>
	<string>218471163586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.gcsolutions.wizdomgo</string>
	<key>PROJECT_ID</key>
	<string>wizdom-go-95cee</string>
	<key>STORAGE_BUCKET</key>
	<string>wizdom-go-95cee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218471163586:ios:78eb89069cbd511015bd5b</string>
	<key>DATABASE_URL</key>
	<string>https://wizdom-go-95cee.firebaseio.com</string>
</dict>
</plist>